.container {
  border-width: 1px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  border-radius: 8px;
  padding: 8px;
  margin: 30px;
  transition-duration: 300ms;
}

.container:hover {
  transform: scale(1.1);
}

.image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}
.image:hover {
  transform: scale(1.05);
  transition-duration: 500ms;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.price {
  font-weight: 700;
  font-size: 16px;
  margin-top: -10px;
}

.dollar {
  font-size: 18px;
  line-height: 28px;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 32px;
  }

  .dollar {
    font-size: 28px;
    line-height: 28px;
  }
  .price {
    font-size: 22px;
  }
}
