.container {
  box-shadow: 0 0.625rem 1rem -0.02rem rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition-duration: 300ms;
}

.container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition-duration: 500ms;
}
.image:hover {
  transform: scale(1.05);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 3rem;
  line-height: 1.25rem;
  margin: 0.5rem 0;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
}

.price {
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: -0.625rem;
}

.dollar {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

@media screen and (max-width: 480px) {
  .container {
    width: 80%;
    margin: auto;
  }

  .title {
    font-size: 1.5rem;
  }
}
