.container {
  display: flex;
  height: calc(100%-6rem);
  min-height: 60vh;
  padding: 5rem 0;
  width: 100%;
}

.left {
  flex: 3;
}

.right {
  flex: 1;
}

.imgContainer {
  display: flex;
  width: 4rem;
  height: 4rem;
  position: relative;
  margin: auto;
}

.table {
  width: 100%;
  border-spacing: 0.2rem;
  text-align: center;
}

.name {
  font-weight: bold;
}

.total {
  font-weight: 400;
}

.wrapper {
  background-color: #fce9dcc7;
  padding: 1.875rem;
  padding-top: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: blcak;
  align-items: left;
  margin: 0 1rem;
  border-radius: 1rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid white;
}
.totalText {
  padding-top: 0.2rem;
}
.totalTextTitle:last-child {
  margin-right: 0.625rem;
  font-size: 1rem;
}

.paymentMethods {
  padding: 1rem 0;
}

.button {
  min-width: 8.75rem;
  font-weight: bold;
  margin-top: 1.25rem;
  background-color: #febd1adb;
  color: white;
}
.button:hover {
  background-color: #febd1a;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .right {
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    padding: 1.25rem;
    position: relative;
  }

  .table {
    display: block;
  }

  .trTitle th {
    display: none;
  }

  .tbody {
    margin: auto;
    display: block;
  }

  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
  }

  .tr td:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    width: 80%;
    text-align: left;
    font-size: 1rem;
  }

  .imgContainer {
    width: 35vw;
    height: 35vw;
  }

  .name,
  .total {
    font-size: 1.5rem;
  }

  .extras,
  .price,
  .quantity {
    font-size: 1.375rem;
  }

  .extras::before {
    content: "Meal Options: ";
    font-weight: bold;
  }

  .price::before {
    content: "Price: ";
    font-weight: bold;
  }
  .quantity::before {
    content: "Quantity: ";
    font-weight: bold;
  }
  .total::before {
    content: "Total: ";
    font-weight: bold;
  }
}

.paymentMethods {
  margin-top: 0.625rem;
  display: flex;
  flex-direction: column;
}

.payButton {
  padding: 0.625rem 0.313rem;
  cursor: pointer;
  margin-bottom: 0.313rem;
  background-color: white;
  color: teal;
  font-weight: bold;
}
