.container {
  /* width: 100%; */
  width: 100vw;
  height: 6rem;
  padding: 0 1rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  background-image: url(../public/img/backgroud.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.item {
  display: flex;
  align-items: center;
}

.item:nth-child(1) {
  margin-left: 1.5rem;
}

.item:last-child {
  justify-content: flex-end;
}

.texts {
  margin-left: 0.3rem;
  color: white;
}

.text {
  font-size: 1rem;
  font-weight: 500;
}

.list {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
}

.listItem {
  margin: 0 20px;
  font-size: small;
  font-weight: 500;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}

.cart {
  position: relative;
  cursor: pointer;
  margin-right: 2rem;
}

.counter {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: whitesmoke;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #d1411e;
}

@media screen and (max-width: 768px) {
  .item:nth-child(1) {
    display: none;
  }

  .listItem {
    font-size: large;
  }

  .logo {
    order: -1;
    margin-right: 2rem;
  }

  .list li:nth-child(4) {
    display: none;
  }
  .list li:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .cart {
    margin: 0 0.75rem;
  }
}
