.container {
  width: 100%;
  padding: 5rem;
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
}

.trTitle th {
  padding: 0.5rem;
  border-bottom: 0.125rem solid;
}
.tr td {
  padding: 0.5rem;
}

.table {
  text-align: left;
  margin-bottom: 2rem;
}

.status {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.done {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.undone {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
}

.undone .checkedIcon,
.inProgress .checkedIcon {
  opacity: 0;
}

@media screen and (max-width: 640px) {
  .container {
    flex-direction: column;
  }

  .trTitle {
    display: none;
  }

  .tr {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 1.25rem;
  }

  .id::before {
    content: "Order ID: ";
    font-weight: 500;
  }

  .item::before {
    content: "Item: ";
    font-weight: 500;
  }
  .name::before {
    content: "Customer: ";
    font-weight: 500;
  }
  .address::before {
    content: "Address: ";
    font-weight: 500;
  }
  .total::before {
    content: "Paid: ";
    font-weight: 500;
  }

  .status {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tr {
    border-top: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    padding-top: 0.125rem;
  }

  .tr td {
    padding: 1rem 0;
  }

  .done,
  .undone,
  .inProgress {
    margin-bottom: 1.25rem;
  }

  .wrapper {
    width: 100%;
  }
}
